[run]
source = qutip
omit =
    # Skip dev tools
    *dev_utils.py
    # QuTiP test files
    */qutip/tests/*

[report]
exclude_lines =
    # Skip Python wrappers which help load in C extension modules.
    __bootstrap__()
