*~
*.py[cod]
*.so
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64


qutip/version.py
qutip/__config__.py
rhs*.pyx


*.dat

*.qo

benchmark/benchmark_data.js
