sudo: required
dist: trusty
language: python

python:
    - 2.7
    - 3.6
matrix:
    include:
        - python: 3.6
          env: CC=clang CXX=clang++
        - python: 3.6
          env: NOMKL=1
addons:
    apt:
        packages:
            - libatlas-dev
            - libatlas-base-dev
            - liblapack-dev
            - gfortran

# command to install dependencies
install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
          wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
        else
          wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
    - source activate test-environment
    - if [[ "${NOMKL}" == "1" ]]; then
          conda install nomkl numpy scipy nose cython;
        else
          conda install mkl numpy scipy nose cython;
      fi
    - pip install coverage coveralls
    # Also get optional dependencies (CVXPY, which depends on CVXOPT and SCS).
    - pip install cvxopt==1.1.8
    - pip install scs
    - pip install cvxpy
    # Finally, install ourselves.
    - python setup.py install

# change dir
before_script:
    - mkdir qutip_testing
    - cd qutip_testing
 
# command to run tests
script: 
    - python -m qutip.about
    - nosetests --verbosity=2 --with-coverage --cover-package=qutip qutip

after_success:
    - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]] && [[ $CC == 'gcc' ]]; then
          coveralls;
      fi