include README.md
include LICENSE.txt
include VERSION
include requirements.txt
include CITATION.bib
include pyproject.toml
recursive-include src *.pyx
recursive-include src *.pxd
recursive-include src *.pyi
recursive-include src *.hpp
recursive-include src *.cpp
recursive-include src *.ini
recursive-include src *.h
