*~
*.py[cod]
*.so
.DS_Store
.f2py_f2cmap
.idea/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64


qutip/version.py
qutip/__config__.py
rhs*.pyx

qutip/cy/*.c
qutip/cy/*.cpp
qutip/control/*.cpp
qutip/cy/openmp/*.cpp
*.dat

*.qo

benchmark/benchmark_data.js
*-tasks.txt
*compiled_coeff*

