alabaster==1.0.0
asttokens==3.0.1
babel==2.17.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.11.1
cloudpickle==3.1.2
contourpy==1.3.3
cvxopt==1.3.2
cvxpy==1.8.0
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
docutils==0.22.4
executing==2.2.1
filelock==3.20.3
fonttools==4.61.1
highspy==1.12.0
idna==3.11
imagesize==1.4.1
iniconfig==2.3.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
latexcodec==3.0.1
loky==3.5.6
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
numpy==2.4.1
numpydoc==1.10.0
osqp==1.1.0
packaging==26.0
parso==0.8.5
pexpect==4.9.0
pillow==12.1.0
pluggy==1.6.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pybtex==0.25.1
pybtex-docutils==1.0.3
pycparser==3.0
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
pytest-rerunfailures==16.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
roman-numerals==4.1.0
scipy==1.16.3
scs==3.2.11
setuptools==80.10.2
six==1.17.0
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.5
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
urllib3==2.6.3
wcwidth==0.5.0
wheel==0.46.3
