Source: qutip
Section: science
Priority: optional
Maintainer: Robert Johansson <jrjohansson@gmail.com>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev, cython, gcc
XS-Python-Version: all
Standards-Version: 3.9.1

Package: qutip
Architecture: any
XB-Python-Version: all
Homepage: http://code.google.com/p/qutip
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-scipy, python-qt4, python-matplotlib, cython
Description: Python framework for solving the dynamics of quantum systems.
 QuTiP is an open-source framework for solving the dynamics of open and
 closed quantum systems written in python. The focus of QuTiP is on
 systems with Hamiltonians that are composed of harmonic oscillator modes
 and multi-level (typically two-levels) atoms, where the Hilbert space may
 be constructed using the Fock basis. This large class of Hamiltonians appears
 in a wide variety of physical problems, including those in quantum optics,
 trapped ions, superconducting circuit devices, and mechanical systems in the
 quantum regime.
