Source: qutip
Section: python
Priority: optional
Maintainer: Robert Johansson <jrjohansson@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, gfortran (>= 4:4.2), libblas-dev, liblapack-dev,
			   python-all (>= 2.7), python-all-dev, python-setuptools, python-numpy, python-scipy, cython, python3-nose,
			   python3-all (>= 3.2), python3-all-dev, python3-setuptools, python3-numpy, python3-scipy, cython3, python-nose
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2
Standards-Version: 3.9.5
Homepage: http://www.qutip.org


Package: python-qutip
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-numpy, python-scipy, python-matplotlib, cython
Recommends: ipython, ipython-notebook
Description: QuTiP: Quantum toolbox in Python (Python 2)
 QuTiP is an open-source framework for solving the dynamics of open and closed
 quantum systems written in Python. The focus of QuTiP is on systems with
 Hamiltonians that are composed of harmonic oscillator modes and multi-level
 (typically two-levels) atoms, where the Hilbert space may be constructed using
 the Fock basis. This large class of Hamiltonians appears in a wide variety of
 physical problems, including those in quantum optics, trapped ions,
 superconducting circuit devices, and mechanical systems in the quantum regime.


Package: python3-qutip
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}, python3-numpy, python3-scipy, python3-matplotlib, cython3
Recommends: ipython3, ipython3-notebook
Description: QuTiP: Quantum toolbox in Python (Python 3)
 QuTiP is an open-source framework for solving the dynamics of open and closed
 quantum systems written in Python. The focus of QuTiP is on systems with
 Hamiltonians that are composed of harmonic oscillator modes and multi-level
 (typically two-levels) atoms, where the Hilbert space may be constructed using
 the Fock basis. This large class of Hamiltonians appears in a wide variety of
 physical problems, including those in quantum optics, trapped ions,
 superconducting circuit devices, and mechanical systems in the quantum regime.